## 1) Perform sentimental analysis on the Elon-musk tweets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [2]:
data = pd.read_csv('Elon_musk.csv',encoding="latin-1")
data.head(10)

   Unnamed: 0                                               Text
0           1                             @kunalb11 Im an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...
5           6  Happy New Year of the Ox! https://t.co/9WFKMYu2oj
6           7  Frodo was the underdoge,\nAll thought he would...
7           8     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)
8           9  @flcnhvy @anonyx10 Indeed! Tweets definitely d...
9          10   The most entertaining outcome is the most likely

In [3]:
#Number of Words in single tweet
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','word_count']].head(10)

                                                Text  word_count
0                             @kunalb11 Im an alien           4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                @joerogan @Spotify Great interview!           4
3                    @gtera27 Doge is underestimated           4
4  @teslacn Congratulations Tesla China for amazi...          17
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj           7
6  Frodo was the underdoge,\nAll thought he would...          12
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)           6
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...          11
9   The most entertaining outcome is the most likely           8

In [4]:
#Number of characters in single tweet
data['char_count'] = data['Text'].str.len()
data[['Text','char_count']].head(10)

                                                Text  char_count
0                             @kunalb11 Im an alien          22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
2                @joerogan @Spotify Great interview!          35
3                    @gtera27 Doge is underestimated          31
4  @teslacn Congratulations Tesla China for amazi...         104
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj          49
6  Frodo was the underdoge,\nAll thought he would...          96
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)          46
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...          89
9   The most entertaining outcome is the most likely          48

In [5]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head(10)

                                                Text  avg_word
0                             @kunalb11 Im an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj  6.142857
6  Frodo was the underdoge,\nAll thought he would...  5.928571
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)  6.833333
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...  7.181818
9   The most entertaining outcome is the most likely  5.125000

In [6]:
#number of stop words
import nltk
nltk.download('stopwords')

stop = stopwords.words('english')

data['stopwords'] = data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Text','stopwords']].head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HARSHA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                Text  stopwords
0                             @kunalb11 Im an alien          1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                @joerogan @Spotify Great interview!          0
3                    @gtera27 Doge is underestimated          1
4  @teslacn Congratulations Tesla China for amazi...          5
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj          2
6  Frodo was the underdoge,\nAll thought he would...          5
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)          0
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...          2
9   The most entertaining outcome is the most likely          4

In [7]:
#number of special characters
data['hastags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','hastags']].head(10)

                                                Text  hastags
0                             @kunalb11 Im an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj        0
6  Frodo was the underdoge,\nAll thought he would...        0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)        3
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...        2
9   The most entertaining outcome is the most likely        0

In [8]:
# no of numerical values
data['numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','numerics']].head(10)

                                                Text  numerics
0                             @kunalb11 Im an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj         0
6  Frodo was the underdoge,\nAll thought he would...         0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)         0
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...         0
9   The most entertaining outcome is the most likely         0

In [9]:
data['upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','upper']].head(10)

                                                Text  upper
0                             @kunalb11 Im an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj      0
6  Frodo was the underdoge,\nAll thought he would...      0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)      0
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...      0
9   The most entertaining outcome is the most likely      0

pre-processing

In [10]:
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['Text'].head()

0                               @kunalb11 im an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

In [11]:
#removing punctuation 
data['Text'] = data['Text'].str.replace('[^\w\s]','')
data['Text'].head()

0                                 kunalb11 im an alien
1    id_aa_carmack ray tracing on cyberpunk with hd...
2                     joerogan spotify great interview
3                       gtera27 doge is underestimated
4    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

In [12]:
#removing stop words
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

In [13]:
#removing common words
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [14]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [15]:
#removing rare words
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

httpstcotgpwej7wqa    1
inc                   1
httpstco5lplhqgazw    1
airplane              1
caught                1
chotihaque            1
dealing               1
gap                   1
2012                  1
unhappy               1
dtype: int64

In [16]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [17]:
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                    kunalb11 in alien
1    id_aa_carmack ray tracing cyberpunk her nextle...
2                           joerogan specify interview
3                          gtera27 done underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [18]:
import nltk
nltk.download('punkt')

TextBlob(data['Text'][1]).words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HARSHA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

In [19]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

In [20]:
from textblob import Word

import nltk
nltk.download('wordnet')

data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HARSHA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

N-gram

In [21]:
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

Term Frequency
TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [22]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1          tried   1
2      nextlevel   1
3            hdr   1
4      cyberpunk   1
5        tracing   1
6            ray   1

Inverse Document Frequency IDF=log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

In [23]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1          tried   1  5.808643
2      nextlevel   1  6.907255
3            hdr   1  6.907255
4      cyberpunk   1  5.115496
5        tracing   1  7.600402
6            ray   1  5.035453

Term Frequency-Inverse Document Frequency (TF-IDF)

In [24]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1          tried   1  5.808643  5.808643
2      nextlevel   1  6.907255  6.907255
3            hdr   1  6.907255  6.907255
4      cyberpunk   1  5.115496  5.115496
5        tracing   1  7.600402  7.600402
6            ray   1  5.035453  5.035453

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7375 stored elements in Compressed Sparse Row format>

Bag of Words

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(data['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 8019 stored elements in Compressed Sparse Row format>

Sentiment Analysis

In [27]:
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [28]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']].head(10)

                                                Text  sentiment
0                                  kunalb11 im alien  -0.250000
1  id_aa_carmack ray tracing cyberpunk hdr nextle...   0.000000
2                         joerogan spotify interview   0.000000
3                        gtera27 doge underestimated   0.000000
4  teslacn congratulation china amazing execution...   0.200000
5               happy new year ox httpstco9wfkmyu2oj   0.468182
6  frodo underdoge thought would fail httpstcozgx...  -0.500000
7                   owensparks_ anonyx10 haha thanks   0.200000
8  anonyx10 indeed tweet definitely represent rea...   0.000000
9                        entertaining outcome likely   0.250000